#search {
  margin: 50px auto;
}

#search_area {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  gap: 0px;
  height: 70px;
}
#search_box {
  display: flex;
  align-items: stretch;
  gap: 30px;
  background-color: var(--white);
  width: fit-content;
  padding: 0 20px;
  border-radius: 9999px;
  border: solid 1px var(--font-color);
  position: relative;
}
#position {
  display: flex;
  align-items: center;
}
#position_input {
  border: none;
  outline: none;
  margin: 0;
  height: 100%;
  background-color: inherit;
}
.location_button {
  margin: 0;
  padding: 5px 10px;
  margin-left: 5px;
}
#distance_input {
  display: flex;
  gap: 10px;
  align-items: center;
}
#distance_input p {
  margin: 0;
}
#distance_input label {
  height: 100%;
}
#distance_input input[type="number"] {
  margin-right: 5px;
  width: 30px;
  border: none;
  outline: none;
  height: 100%;
  background-color: inherit;
}
#distance_input input[type="number"]::-webkit-outer-spin-button,
#distance_input input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#category {
  display: flex;
  align-items: center;
}
#category_select {
  border: none;
  outline: none;
  background-color: inherit;
}
#random {
  margin: 0;
  border-radius: 9999px;
  border: solid 1px var(--font-color);
}

#map_dialog_shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
}
#map_dialog {
  background-color: var(--background-color);
  border-radius: 5px;
}
#dialog_menu {
  display: flex;
  justify-content: center;
  gap: 20px;
}
